create database CompanyDB;
create schema company;

create table company.department(
    department_id serial primary key,
    department_name varchar(100) not null
);

create table company.employees(
    emp_id serial primary key,
    emp_name varchar(100) not null,
    emp_dob varchar(100) not null,
    department_id int references company.department(department_id)
);

create table company.project(
    project_id serial primary key,
    project_name varchar(100) not null,
    start_date timestamp not null,
    end_date timestamp not null,
    check(start_date < end_date)
);

create table Employeeproject(
    emp_id int references company.employees(emp_id),
    project_id int references company.project(project_id)
);