
create database LibraryDB;
create schema library;

drop schema public;

create table library.books(
                      book_id int primary key,
                      title varchar(100) not null,
                      author varchar(100) not null,
                      publish_year int not null,
                      available boolean default true
);

create table library.members(
                        member_id int primary key,
                        name varchar(100),
                        email varchar(100) unique,
                        join_date date default current_date
);