create schema sales;
drop schema sales;
create table sales.products(
    product_id serial primary key,
    product_name varchar(100) not null,
    price numeric(10,2) default 0,
    stock_quantity int check(stock_quantity >= 0)
);

create table sales.orders(
    order_id serial primary key,
    order_date date default current_date,
    member_id int references library.members(member_id)
);

create table sales.orderdetail (
    order_detail_id serial primary key,
    quantity int check(quantity >= 0),
    product_id int references sales.products(product_id),
    order_id int references sales.orders(order_id)
);