alter table library.books add column genre varchar(100);
alter table library.books add column available boolean;

alter table library.books rename column available to is_available;

alter table library.members drop column email;

drop table sales.orderdetail;