create database schoolDB;
create schema school;

create table school.students(
    student_id serial primary key,
    student_name varchar(100) not null,
    dob int not null
);

create table school.course(
    course_id serial primary key,
    course_name varchar(100) not null,
    credits int not null
);

create table school.enrollment(
    enrollment_id serial primary key,
    student_id int,
    course_id int,
    grade numeric(10, 2) not null
);

alter table school.enrollment add constraint student_id_fk foreign key(student_id) references school.students(student_id);
alter table school.enrollment add constraint course_id_fk foreign key(course_id) references school.course(course_id);
alter table school.enrollment alter column grade type varchar(100);
alter table school.enrollment add constraint grade check(grade in ('A', 'B', 'C', 'D', 'F'));